
@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
    font-family: 'Overpass', sans-serif;
  }
  
  
  $blue: rgba(0, 96, 144, 0.7);
  $solid-blue: rgb(0, 96, 144);
  $nav-background: #2D2D2D;
  $white: #FFFFFF;
  
  
  $nav__left__item--current: #006090;
  $nav__left__item: #241F20;
  $nav__right__link: white;
  