
@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
    font-family: 'Overpass', sans-serif;
  }

  
  $blue: rgba(0, 96, 144, 0.8);
  $solid-blue: rgb(0, 96, 144);
  $nav-background: #2D2D2D;
  $white: #FFFFFF;
  
  
  $nav__left__item--current: #006090;
  $nav__left__item: #241F20;
  $nav__right__link: white;
  
  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Overpass', sans-serif;
  }
  body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(29, 29, 29);
    background-image: url("/public/assets/dummy_model.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // margin: 0;


    nav {
      height: 115px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      background: $nav-background;
      display: flex;
      flex-direction: row;

      .nav__left {
        width: 33.5%;
        height: 100%;
        background-image: url("/public/assets/nav__left-background.png");
        background-position: right bottom ;
        display: flex;
        flex-direction: row;
        
        
        .nav__left__list{
          width: 33.5vw;
          height: 100%;
          margin: 0% 5% 0% 10%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .nav__left__list__item{
            padding-bottom: 5%;

            img {
              width: 143px;
              height: 24px;
            }
            
            a {
                text-decoration: none;
                color: $nav__left__item;
                padding: 5%;
                }

            .nav__left__list__item--current{
              color: $nav__left__item--current;
              border-bottom: 3px solid $nav__left__item--current;
            }
          }
        }     
      }
      
      .nav__right {
        width: 66.5%;
        height: 100%;
        background: $blue;
        padding: 0% 5% 0% 5%;
        
        .nav__right__container{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          
          .nav__right__link{
            height: 100%;
            display: flex;
            align-items: center;
            
            a{
              text-decoration: none;
              color: $nav__right__link;
              font-size: 1em;
            }
          }
          
          #nav__right__link--current{
            border-bottom: 3px solid $nav__right__link;
            
          }
        }
        
      }
    }


    .welcome-form__page{
      display: block;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 2;
      background: $blue;

      .welcome-form__page__header {
        height: 117px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        background: $solid-blue;
        display: flex;
        flex-direction: row;
        

        .welcome-form__page__header__logo {
          width: 20%;
          height: 100%;
          background: rgb(255, 255, 255);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.2); 
          box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 143px;
            height: 24px;
          }
        }

      }
      

        .welcome-form__page__container__form {
          position: absolute;
          width: 66%;
          height: 70%;
          margin: 10% 17% 0% 17%;
          background: transparent;
          display: block;
          color: $white;
          font-size: 14px;
          
          .welcome-form__page__text {
            width: 100%;
            height: 10vh;
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            padding: 2vh;
            margin-bottom: 2vh;
            
            #welcome-text {
              font-size: 32px;
              padding: 15px;
            }

            #welcome-text-info {
              font-size: 16px;
              color: rgba(255, 255, 255, 0.8);
            }


          }

          .form-row {
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background: transparent;

            .form-column {
              height: 100%;
              width: 100%;
              padding: 7px;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              background: transparent;
            }

            label {
              margin-left: 5px;
              display: block;
            }
          
            select, input {
              background: white;
              border: none;
              box-shadow: none;
              height: 4vh;
              outline: none;
            }

          }
          
          .radio-button__container{
            width: 100%;
            display: grid;
            grid-template-rows: auto auto;

            .radio-button__text{
              grid-row: 1;
              font-size: 16px;
              font-weight: 400;
              padding: 10px;
              color: rgba(255, 255, 255, 0.8);
            }

            .radio-buttons {
              grid-row: 2;
              display: flex;
              flex-direction: row;
              padding-top: 15px;
              font-weight: 400;

              input {
                margin: 0px 20px 0px 20px;
                transform: scale(1.5);
              }
            }
          }

          .welcome-form__page__submit__container {
            display: grid;
            grid-template-rows: auto auto;
            justify-content: center;
            margin: 0;
            padding: 0;

            .welcome-form__page__submit__text {
              grid-row: 1;
              text-align: center;
              padding: 15px;
              color: rgba(255, 255, 255, 0.8);
            }

            button.welcome-form__submit {
              grid-row: 2;
              height: 50px;
              width: 240px;
              background: #DEE9EE;
              background-size: cover;
              background-position: right;
              margin: 0;
              padding:0;
              border: none;
              outline: none;
              cursor: pointer;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.2); 
              box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.2);
              
              
              p{
                position: fixed;
                z-index: 2;
                margin: 1.2% 0% 0% 4%;
                font-size: 16px;
                font-weight: bold;
                color: $blue;
              }
              
              .welcome-form__submit-inner {
                height: 100%;
                width: 100%;
                margin: 0;
                padding:0;
                background:  url("/public/assets/submit_arrow.png");
                clip-path: inset(0 0 0 78%);
                background-size: cover;
                background-position: right;
                background-repeat: no-repeat;
                transition: all 0.5s cubic-bezier(0.62, -0.42, 1, 1);
                // cursor: pointer;
              }

              &:hover .welcome-form__submit-inner {
                clip-path: inset(0 0 0 0%);
              }
            }
          }

          .required-field {
            padding: 2px;
            font-size: 18px;
            color: rgb(50, 202, 253);
          }
        }
    }



    .hide {
      // visibility: hidden;
      display: none;
    }





    // canvas {
    //   height: 100%;
    //   width: 100%;
    //   background: red;
    //   margin-top: 15vh;
    // }

    .link-content-container {
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);

      

    }


  }
    
    